.app-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.app-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.app-heading {
  font-family: 'Lobster', cursive;
}

.app-heading-1 {
  font-size: 4rem;
}

.kitty-image-container {
  overflow: hidden;
}

.kitty-image {
  height: 320px;
  width: inherit;
  flex: 1;
}
